<div class="step-information">
  <div class="step-box">
    <div class="step-number-circle current-step" id="one">
      <p class="step-number">1</p>
    </div>
    <div class="step">
      <h6>STEP 1</h6>
      <h5>YOUR INFO</h5>
    </div>
  </div>
  <div class="step-box">
    <div class="step-number-circle" id="two"><p class="step-number">2</p></div>
    <div class="step">
      <h6>STEP 2</h6>
      <h5>SELECT PLAN</h5>
    </div>
  </div>
  <div class="step-box">
    <div class="step-number-circle" id="three">
      <p class="step-number">3</p>
    </div>
    <div class="step">
      <h6>STEP 3</h6>
      <h5>ADD-ONS</h5>
    </div>
  </div>
  <div class="step-box">
    <div class="step-number-circle" id="four"><p class="step-number">4</p></div>
    <div class="step">
      <h6>STEP 4</h6>
      <h5>SUMMARY</h5>
    </div>
  </div>
</div>
