body{
    background: hsl(206, 84%, 93%);
    font-family: 'Ubuntu', sans-serif;
}

h6,h5{
    margin: 0%;
    padding: 5% 0%;
}

h6{
    color: rgb(204, 204, 204);
    font-size: 0.75rem;
}

h5{
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 5% 15%;
    
    background-color: white;
    border-radius: 1.25rem;
    
}

/* side-pane */

.step-information{
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    border-radius: 1.25rem;
    width: 35%;
    padding: 3% 2% 30%;
    
    margin: 1%;

    color: white
}

.step-number-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    /* text-align: center; */
}

.step-number{
    position: relative;
    left: 0.75rem;
    bottom: 0.55rem;
}

.step-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7% 0%;
}

.step{
    padding-left: 10%;
}

.current-step{
    background-color: hsl(206, 94%, 87%);
    border: 1px solid hsl(206, 94%, 87%);
    color:black;
}

/* right-pane */

.step-details{
    padding: 1.5% 10% ;
    width: 75%;
}

.step-form{
    padding:0% 0% 10%;
    margin-top: 10%;
    position: relative;
    height: 60%;
}

input{
    font-size: 1.15rem;
    border: 1px solid grey;
    width:97%;
    border-radius: 0.25rem;
    margin:1% 0% 6%;
    padding: 2.5% 0% 2.5% 2.5%;
}



.next-step{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    background: hsl(213, 96%, 18%);
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    border: 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}



label{
    color:hsl(213, 96%, 18%);
    font-size: 1.15rem;
}

.step-heading{
    font-size: 3rem;
    color:hsl(213, 96%, 18%);
    margin-bottom: 0%;
}
.step-description{
    color: rgb(138, 138, 138);
    font-size: 1.155rem;
}

/* step-2 */

.plan-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6% 0%;
}

.plan-button{
    width: 25%;
    padding: 5% 3%;
    background-color: white;
    border: 2px solid hsl(231, 11%, 63%);
    border-radius: 1rem;
    text-align: left;
}

.plan-button:hover{
    background-color:  hsl(217, 100%, 97%) ;
}

.plan-selected{
    background-color:  hsl(217, 100%, 97%)
}

.plan-toggler{
    background-color: hsl(217, 100%, 97%);
    text-align: center;
    padding: 3%;
    border-radius: 0.75rem;
}

.go-back{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: hsl(231, 11%, 63%);
    font-size: 20px;
    background: white;
    padding: 10px 40px 10px 0px;
    text-decoration: none;
    border: 1px;
    position: absolute;
    bottom: 0px;
    left: 0px;  
    
}

.plan-heading{
    color: hsl(213, 96%, 18%);
    font-size: 1.25rem;
    font-weight: 600;
    margin: 30% 0% 0%;
}

.plan-description{
    color: rgb(138, 138, 138);
    font-size: 1rem;
    margin: 10% 0% 3%;
}

.toggle{
    display: inline-block;
}

.toggle-fill{
    width: 50px;
    height: 25px;
    position: relative;
    border-radius: 12.5px;
    background-color:  hsl(213, 96%, 18%);
    top: 5px;
    margin: 0px 20px;
}

.toggle-input{
    display: none;
}

.toggle-fill::after{
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 12.5px;
    transition: transform 0.2s;
}

.toggle-input:checked ~ .toggle-fill::after{
    transform: translateX(25px);
}

.plan-offer{
    color:  hsl(213, 96%, 18%);
    font-size: 15px;
    
}

.plan-radio-button{
    display: none;
}