<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") -%>
  </head>
  <body>
    <div class="container">
      <%- include("../partials/side-pane") -%>

      <div class="step-details">
        <h1 class="step-heading">Personal info</h1>
        <p class="step-description">
          Please provide your name, email address, and phone number
        </p>
        <div class="step-form">
          <form action="/" method="post">
            <label>Name</label>
            <br />
            <input
              type="text"
              name="customer-name"
              placeholder="e.g. your name"
            />
            <br />
            <label>Email Address</label><br />
            <input
              type="text"
              name="customer-email"
              placeholder="e.g. yourname@gmail.com"
            />
            <br />
            <label>Phone Number </label><br />
            <input
              type="text"
              name="customer-phone-number"
              placeholder="e.g. +1 234 567 890"
            />
            <br />

            <button type="submit" name="next-step" class="next-step">
              Next Step
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  </body>
</html>
